<h1>StaticPages#inventario</h1>
<p>Find me in app/views/static_pages/inventario.html.erb</p>
<p>In questa pagina devono comparire i diversi link che portano alla diverse azioni possibili sull inventario. Per ora ci limitiamo a quelle che riguardano i publishers:</p>
<ul>
        <li><a href="http://www....">Home</a></li>
        <li><a href="http://www..../contact">Contact</a></li>
        <li><%= link_to 'Publishers0', publishers_path() %></li>
        <li><%= link_to "Publishers1", publishers_path(), query:"prova" %></li> 
</ul>

@tipo = "nonbidoni"
