// Place all the styles related to the Store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* START_HIGHLIGHT */
.toggler { width: 400px; height: 200px; }
#button { padding: .5em 1em; text-decoration: none; }
#effect { width: 200px; height: 170px; padding: 0.4em; position: relative; }
#effect h3 { margin: 0; padding: 0.4em; text-align: center; }

#provarepercredere1 {color: #888;}

/* END_HIGHLIGHT */

